#root {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }

@media (max-width: 768px) {
    .card {
      padding: 1em;
    }
  
    .pokemon-name {
      font-size: 1.5em;
    }
  
    .description {
      font-size: 0.9em;
    }
  }

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    background-color: #f0f0f0;
  }
  .card {
    width: 100%;
    max-width:100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #6493eb; /*/8CCB3E/ 78C850",//74cb48 */
    color: #212121;
    margin: 20px auto;
    padding: 20px;
    background-image: url("./assets/poke.png");
    background-repeat: no-repeat;
    background-size: 41%;
    background-position-y: 2% ;
    background-position-x: 96%;
    background-clip: padding-box;
    padding:1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .icon-color {
    color: #212121;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pokemon-name {
    font-size: 24px;
    font-weight: bold;
    color: #f0f0f0;
  }
  .pokemon-id {
    font-size: 16px;
    color: #f0f0f0;
  }
  .type {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 5px 3px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  .grass {
    background-color: #7bc74d;
  }
  .poison {
    background-color: #a55eb5;
  }
  .water {
    background-color: #6493eb; /*6493eb 6898CB*/
  }
  .image {
    text-align: center;
    margin: 15px 0;
  }
  .about {
    margin: 15px 0;
  }
  .base-stats {
    margin-top: 20px;
    width: 100%;
  }
  .description {
    text-align: justify;
  }
  .stat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
  }

  .stat-percentage {
    min-width: 40px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    color: #212121;
    display: inline-block;
    width: 40px; /* Set a fixed width */
  }
  .stat-bar {
    width: 100%;
    background: #6493eb66;
    border-radius: 5px;
    height: 8px;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
  }
  .stat-fill {
    height: 100%;
    background: #6493eb;
    position: absolute;
    left: 0;
    border-radius: 5px;
  }

  .stat-info {
    color: #6493eb;
    font-weight: bold;
    width: 50px; /* Set a fixed width */
    margin-right: 10px;
  }
  .types-container {
    text-align: center;
    color: #f0f0f0;
  }

  .poke-info {
    background-color: #fff;
    
    border-radius: 3%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;

    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }

  .base-stats-title {
    text-align: center;
    color: #6493eb;
    font-size: 1.5em;
  }
.basics-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 1em;
}

  .image-container {
    position: relative;
    width: 100%;
    height: 240px;
    margin: 15px auto -100px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

 
  
